# This is a basic workflow to help you get started with Actions

name: Linear automation

on:
  pull_request:
    # branches: [ "main" ]
    types: [ "opened", "synchronize", "reopened", "edited" ]


permissions: write-all

jobs:
  add-linear-author-as-reviewer:
    runs-on: ubuntu-latest
    steps:

      # Runs a set of commands using the runners shell
      - name: Add reviewers
        uses: Mergifyio/add-linear-author-as-reviewer@main
        with:
           GITHUB_TOKEN: ${{ secrets.PAT_TEST }}
           LINEAR_API_KEY: ${{ secrets.LINEAR_API_KEY }}
           PULL_REQUEST_BODY: ${{ github.event.pull_request.body }}
           EMAIL_MAPPING: |
             sileht@mergify.com sileht
             jd@mergify.com jd
